{{!--

If the user is NOT logged in, and 'GET /register' endpoint is called, 
you will render this sign-up form view that displays two input (one for the username and one for password):
-The form will be used to submit the POST request to the '/register' route on the server and must have an 'id' of 'registration-form'
-The input for the username must have a 'name' and 'id' of 'usernameInput'
-The input for the password must have a 'name' and 'id' of 'passwordInput' and should be an input type of password.

Do not forget to use labels for your inputs! For the labels, you will use the method of using the 'for' attribute. 
You should have a label for both the username and password inputs referencing their id's in the for attribute of the label

You will also have a link on this page that links to '/' and has the text "Already have an account? Click here to log-in"

--}}

<form action="/register" method="POST" id="signup-form">
    <label for="usernameInput">User Name</label><br>
    <input type="text" name="usernameInput" placeholder="User Name" id="usernameInput"><br><br>
    <label for="passwordInput">Password</label><br>
    <input type="password" name="passwordInput" placeholder="Password" id="passwordInput"><br><br>
    <button type="submit">signup</button>
    <a href="/">Already have an account? Click here to log-in</a>
</form>
<p>{{error}}</p>